#!/bin/bash
# setup.yml hash: {{ include "dot_bootstrap/setup.yml" | sha256sum }}

sudo dnf install -y ansible

echo "✅️ Ansible has been successfully installed"

ansible-playbook {{ .chezmoi.sourceDir }}/dot_bootstrap/setup.yml --ask-become-pass

echo "✅️ Ansible playbook run has been completed"
